/* ------------------------------------------------------------ *\
	Cake
\* ------------------------------------------------------------ */

.cake {
	.cake__image {
		display: block; 
		position: relative; 
		border-radius: 50px; 
		padding-bottom: 100%;
		margin-bottom: 20px;
		overflow: hidden; 

		&:before {
			content: '';
			z-index: 10; 
			position: absolute; 
			top: 0; 
			left: 0; 
			width: 100%; 
			height: 100%; 
			background: rgba($c-white, .25);
			opacity: 0; 
			visibility: hidden; 
			transition: all .3s ease;
		}
	}

	.cake__image:hover {
		&:before {
			opacity: 1; 
			visibility: visible; 
		}
	}

	.cake__image:hover img {
		transform: scale(1.1); 
	}

	.cake__image img {
		position: absolute; 
		top: 0; 
		left: 0; 
		width: 100%; 
		height: 100%; 
		object-fit: cover; 
		transition: transform $t-duration ease;
	}

	.cake__entry {
		text-align: center;
	}

	.cake__entry p {
		&:not(:last-child) {
			margin-bottom: 5px;
		}

		&:last-child {
			color: #aaa;
			font-size: 14px;
		}
	}

	.cake__actions {
		margin-top: 15px;
		text-align: center;
	}
}