/* ------------------------------------------------------------ *\
	Nav Trigger
\* ------------------------------------------------------------ */

.nav-trigger {
	position: relative; 
	display: none; 
	width: 30px; 
	height: 21px; 
	margin-left: auto;

	@include breakpoint-down(tablet) {
		display: block; 
	}

	span {
		position: absolute; 
		left: 0; 
		width: 100%; 
		height: 4px; 
		border-radius: 3px; 
		background-color: $c-pink;
		transition: all .3s ease;

		&:nth-child(1) {
			top: 0; 
		} 

		&:nth-child(2) {
			top: 9px; 

			&:before {
				content: ''; 
				position: absolute; 
				top: 0; 
				left: 0; 
				width: 100%; 
				height: 100%; 
				border-radius: 3px; 
				background: $c-pink; 
				transition: all .3s ease;
			}
		}

		&:nth-child(3) {
			top: 18px; 
		}
	}
}

body.has-menu-opened .nav-trigger {
	span {
		&:nth-child(1) {
			opacity: 0; 
			transform: translate(-100%); 
		}

		&:nth-child(2) {
			transform: rotate(-45deg); 

			&:before {
				transform: rotate(90deg); 
			}
		}

		&:nth-child(3) {
			opacity: 0; 
			transform: translate(100%); 
		}
	}
}