/* ------------------------------------------------------------ *\
	Stars
\* ------------------------------------------------------------ */

.stars {
	color: $c-yellow;
	
	ul {
		list-style: none;
		display: inline-flex;
		gap: 15px;
	}
}
