/* ------------------------------------------------------------ *\
	Wrapper
\* ------------------------------------------------------------ */

.wrapper {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden; 

	&:before {
		content: '';
		z-index: -2; 
		position: absolute; 
		top: 0; 
		left: 0; 
		right: 0; 
		bottom: 0; 
		background: url('../../images/temp/particles-2.png') repeat-y center center;
		opacity: .3; 
	}
}

/*  Menu opened  */

body.has-menu-opened {
	@include breakpoint-down(tablet) {
		position: fixed; 
		width: 100%; 
		height: 100%; 
		overflow: hidden; 
	}
}

body.has-popup-opened {
	position: fixed; 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
}